#everythingSports{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 8vw;
    background-color: black;
    padding: 20px;
    font-weight: 700;
}


.leagueName{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 6vw;
    display: block;
    position: relative;
    z-index: 2;
}

.leagueName:hover{
    font-size: 7vw;
}

.leagueImg{
    z-index: 0;
    position: absolute;
    max-height: 100%;
    display: block;
    margin: auto;
    left: 0px;
}

.card{
    min-height: 400px;
    display: inline;
}

.container{
    min-width: 90%;
    left: 5%;
}

nav{
    background-color: black;
}